.street {
    width: 100%;
    height: 100vh; 
    background-image: url(street_clean.jpg); 
    position: relative; 
}

.car {
  position: absolute;
    bottom: 51%;  
    right: 0%;   
    width: 100px; 
    background-color: transparent;
    animation: drive 5s linear infinite;
   
}
@keyframes drive {
    0% { right: 0%; }
    100% { right: 110%; }
}